aiohttp==3.7.3
aiohttp-cors==0.7.0
boto3==1.13.0
Django==3.1.5
djangorestframework==3.12.2
drf-yasg==1.20.0
gino==1.0.1
git+https://github.com/ClickSend/clicksend-python
requests==2.25.1
validate-email==1.3
