<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Company Invitation</title>

    <style type="text/css">
      /* General styling */
      * {
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    </style>

    <style type="text/css" media="screen">
      @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
    </style>

    <style type="text/css" media="screen">
      @media screen {
        /* Thanks Outlook 2013! */
        * {
          font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
        }
      }
    </style>

  </head>


<table align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" style="background-color: width: 100%; border: 0; text-align: center; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="vertical-align:top;padding:0">
                <table style="border:0;border-collapse:collapse;margin:0 auto;;border-radius:8px;margin-bottom:16px">
                    <tbody>
                        <tr>
                            <td style="width:546px;vertical-align:top;padding-top:30px;padding-bottom:60px;">
                                <div style="max-width:600px;margin:0 auto">
                                    <img width="25%" src="C:/Users/user/Desktop/medd_logo_S.png" style="margin-bottom: 60px;" alt="">
                                    <h1 style="font-size:28px; padding-bottom: 20px;">You've received an invitation!</h1>
                                    <div style="margin:32px 0 40px">
                                        <table style="width: 100%;border-collapse:collapse;border:0;border-radius:6px">
                                            <tbody>
                                                <tr>
                                                    <td class="user-img" style="width: 15%;padding-right:0px; padding-left:0px">
                                                        <a href=""><img class="user-img" src="C:/Users/user/Desktop/companyname_img.png" alt=""></a>
                                                        <br><a href="https://medd.pro/{profilelink}" style="text-decoration: none;font-size: 14px;color: #00cbad;font-weight: 600;">