 </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p style="font-size:14px;">If you don’t know why this email was sent to your mailbox, you can safely ignore it.</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="padding-top: 40px;">
            <td class="email_footer" style="font-size:15px;text-align:center;width:100%;padding-top:40px;border-top:#e5e5e5 1px solid;">
                <table style="margin:20px auto 0;background-color:white;border:0;text-align:center;border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td>
                                <span style="display:block;font-size:14px;text-align: center;">{our company name}
                                    <br>
                                    {our company address} 
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>